<%- include('partials/head') %>

<body>
    <!-- display all the tweets -->
    <h1 class="text-center">Just Tweet</h1>
  
    <ul>
        <% for(let t of tweets) {%>
            <li> <%= t.tweet %> - <b> <%= t.username %> </b> </li>
        <% } %>
    </ul>

<%- include('partials/footer') %>
